body {
  background-image: url(imgs/cat.gif);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  font-family: "puntino", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

.easy {
  background-color: rgb(52, 226, 52);
}

.medium {
  background-color: rgb(235, 235, 35);
}

.hard {
  background-color: rgb(216, 41, 41);
}

button.easy {
  background-color: green;
}

button.easy:hover {
  background-color: rgb(58, 255, 58);
}

button.medium {
  background-color: yellow;
}

button.medium:hover {
  background-color: rgb(252, 252, 150);
}

button.hard {
  background-color: red;
}

button.hard:hover {
  background-color: rgb(221, 126, 126);
}
