body {
  background-image: url(imgs/cat.gif);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  font-family: "puntino", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  color: white;
}

h3 {
  color: white;
}
